main {
    background-color: hsl(230, 28%, 27%);
}

#btn-tema {
    background-color: #262b44;
    border: 2px solid #c0cbdc;
}

p {
    color: #c0cbdc;
}

a {
    color: #c0cbdc;
    background-color: #262b44;
}

#config {
    background-image: url("../img/gear_dark.svg");
}

#lapis {
    background-image: url("../img/pencil_dark.svg");
}

#borracha {
    background-image: url("../img/eraser_dark.svg");
}

#linha {
    background-image: url("../img/line_dark.svg");
}

#cursor {
    background-image: url("../img/cursor_dark.svg");
}

#mover {
    background-image: url("../img/move_dark.svg");
}

#play {
    background-image: url("../img/play_dark.svg");
}

#pause {
    background-image: url("../img/pause_dark.svg");
}

#stop {
    background-image: url("../img/stop_dark.svg");
}
